.table-row-clickable:hover {
    cursor: pointer;
}

#new-invoice {
    margin-top: 5%;
}

.invoice-date-num{
    margin:0 0 2% 0;
    padding:0;
}

.card{
    transistion: 0.2s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.025, 1.025);
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:  -1px 9px 40px -12px rgba(0,0,0,0.75);
     box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}

/*Disable link styling in invoice card*/
.invoice-card a{
    text-decoration: none;
    color:inherit;
}

.invoice-card a:focus{
    outline:none;
}

.invoice-detail-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1% 0;

}
